#main{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#slot-machine-wrapper{
    position: relative;
    height: auto;
    width: 100vw;
    /* overflow: hidden; */
}

#slot-machine{
    position: absolute;
    left: 20%;
    top: 12%;
    height: 500px;
    width: 750px;
    background-image: url(../assets/images/Group.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 50;
}

.coin{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 80px;
    z-index: 1000;
}

.first{
    background-image: url(../assets/images/PEPE-coins-02\ 8.svg);
    right: 24%;
    top: 32%;
}

.second{
    background-image: url(../assets/images/PEPE-coins-02\ 9.svg);
    right: 13%;
    top: 50%;
}

.third{
    background-image: url(../assets/images/PEPE-coins-02\ 2.svg);
    right: 0%;
    top: 60%;
}

.fourth{
    background-image: url(../assets/images/PEPE-coins-02\ 3.svg);
    right: 23%;
    bottom: -20%;
    width: 120px;
}

.glowing-background{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/images/Glow\ BG.png);
    height: 500px;
    width: 700px;
    left: 29%;
    top: 110px;
    z-index: 1;
}