*{    
    font-family: 'Barlow';
    font-style: normal;
    
}

#card-main{
    position: absolute;
    left: 27.83%;
    right: 27.83%;
    top: 33.07%;
    bottom: 20.05%;
    background: #09031D;
    border-radius: 10px;
    filter: none;
    z-index: 100;
    backdrop-filter: blur(.5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 21px #18ADFA;
}

h1{
    color: blue;
    text-align: center;
    font-weight: 700;
}

p{
    text-align: center;
    padding: 0 50px;
}

a{
    position: absolute;
    height: 18.91px;
    right: 110px;
    bottom: 3px;

    font-weight: 600;
    font-size: 15px;
    line-height: 110%;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-decoration:none;
    text-align: center;


    color: #AA68FF;
}

button{
    box-sizing: border-box;
    border-color: rgba(9, 3, 29, 0.8);
    border-radius: 86px;
    background: rgba(9, 3, 29, 0.8);
}

.backward{
    position: absolute;
    bottom: 20px;
    left: 85px;
}

.forward{
    position: absolute;
    left: 115px;
    bottom: 20px;
}

#playButton{
    position: absolute;
    bottom: -30px;
    right: 30px;
    background: linear-gradient(180deg, #7A2DAA 0%, #090731 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 21px #18ADFA;
    font-family: 'Josh Handwriting';
    border-radius: 50%;
    text-align: center;
    height: 60px;
    width: 60px;
}

#counter{
    left: 50px;
    top: 77px;
}